.idea/
.vs/
*.suo
*.user
*.userosscache
*.sln.docstates

bin/
obj/
out/

riderModule.iml
_ReSharper.Caches/
.ReSharper/
.idea/.idea.*
.idea/**/workspace.xml
.idea/**/tasks.xml
.idea/**/shelf/
.idea/**/contentModel.xml
.idea/**/dataSources/
.idea/**/dataSources.ids
.idea/**/dataSources.local.xml
.idea/**/dataSources.xml
.idea/**/dynamic.xml
.idea/**/modules.xml
.idea/**/riderModule.iml
.idea/**/projectSettingsUpdater.xml
.idea/**/httpRequests/
.idea/**/dataSources/
.idea/**/Dictionaries/
.idea/**/shelf/
.idea/**/libraries/
.idea/**/gradle.xml
.idea/**/vcs.xml
.idea/**/encodings.xml
.idea/**/deployment.xml
.idea/**/webResources.xml
.idea/**/assetWizard.xml
.idea/**/misc.xml
.idea/**/modules.xml
.idea/**/runConfigurations/
.idea/**/RiderSettings/

.config/JetBrains/
.jetbrains/
*.DotSettings.user
*.DotSettings

*.db
*.DS_Store
VolvoApplication.sln.DotSettings.user
